@import "tailwindcss";

@theme {
  --color-brand-light: #f0f4f8;
  --color-brand-light-2: #e9eef6;
  --color-brand-gray: #d8dde4;
  --color-brand-dark-gray: #383a3a;
}

body {
  background: var(--color-brand-light);
  font-family: Arial, Helvetica, sans-serif;
}
